/* Reset some default styles for better consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar */
.navBar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    justify-content: center;
    align-items: center;
}

.navBar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0 25px;
}

.navBarSelected {
    border-style: solid;
    border-radius: 7px;
}

/* Container */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "header header header header"
        "leftside_bar content content rightside_bar"
        "footer footer footer footer";
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
}

/* Content */
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    padding: 40px;
}

.leftside_bar{
    grid-area: leftside_bar;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.rightside_bar{
    grid-area: rightside_bar;
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Add your content styles here */
.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
}

/* Footer */
.footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

/* Box */
.box {
    background-color: salmon;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}

.box:hover {
    background-color: blanchedalmond;
    width: 120px;
    height: 120px;
}

img[src="./css/images/feng.png"] {
    width: 80px;
    height: auto;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    .navBar {
        height: 60px;
        font-size: 14px;
    }

    .navBar a {
        margin: 0 10px;
    }

    .container {
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-gap: 10px;
    }

    .content {
        padding: 10px;
    }

    .box {
        width: 80px;
        height: 80px;
    }
}